@import url("https://fonts.googleapis.com/css?family=Libre+Franklin");

*{
    font-family: Libre Franklin;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: white;
    height: 55px;
}

#header-img1{
    float: left;
    margin-left: 60px;
    height: 50px;
}

#header-text-img{
    padding-top: 8px;
    float: right;
    margin-right: 60px;
    cursor: grab;
}

#header-text-img:hover{
    background-color: #7b767642;
}

#header-text-img > img{
    height: 37px;
}

#header-text{
    vertical-align: middle;
    position: relative;
    bottom: 14px;
    font-size: small;
    font-weight: bolder;
}

#header-text:hover{
    color: #6196FF;
}

body section#background{
    background-image: url("assets/kw-background.png");
    background-size: cover;
    background-position: right;
}

div#background-text{
    padding: 50px;
    color: white;
    font-family: Utopia;
    font-size: 70px;
    margin-left: 10px;
    font-weight: 500;
}

span#newandnow{
    font-family: Libre Franklin;
    font-size: 20px;
    font-weight: 900;
    position: relative;
    bottom: 15px;
}

#title1, #title2, #title3{
    font-family: Utopia;
    padding-top: 50px;
    padding-left: 23px;
    font-size: 26px;
    font-weight: 900;
    position: relative;
    top: 50px;
    margin-left: 1px;
}

#title2{
    top: 125px;
    /* margin-left: 50px; */
}

#title3{
    top: 200px;
    /* margin-left: 50px; */
}

section#books, section#games, section#gifts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

section#games{
    top: 130px;
}

section#gifts{
    top: 200px;
}

section#books div img.book{
    height: 270px;
    padding: 20px;
}

section#games div img.game{
    height: 270px;
    padding: 25px;
    /* overflow: scroll; */
}

section#gifts div img.gift{
    height: 270px;
    padding: 25px;
    /* overflow: scroll; */
}

.main-name, .light-grey, .price{
    padding: 24px;
}

.main-name{
    position: relative;
    bottom: 15px;
    font-weight: 900;
    text-decoration: solid;
    font-size: 20px;
}

section#games .main-name{
    margin-left: 6px;
}

.light-grey{
    color: #7b7676;
    font-size: small;
}

.price{
    font-weight: 900;
    font-size: 19px;
}

.add-cart{
    color: white;
    background-color: #6196FF;
    padding: 10px;
    position: relative;
    left: 47px;
    bottom: 4px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
}

.add-cart:hover{
    background-color: #000000;
}

section#games span.add-cart{
    left: 140px;
}

section#gifts span.add-cart{
    left: 142px;
}

.cart-icon-white{
    position: relative;
    top: 8px;
    width: 23px;
}

footer{
    color: white;
    background-color: black;
    position: relative;
    top: 470px;
    height: 350px;
}

div#img-text, div#footer-text{
    display: inline-block;
}

div#img-text{
    margin-left: 70px;
}

div#img-text span{
    font-family: Utopia;
    margin-left: 55px;
    font-size: x-large;
    position: relative;
    top: 8px;
}

div#footer-text{
    position: relative;
    left: 800px;
    bottom: 100px;
    text-align: right;
}

div#footer-text span{
    position: relative;
    bottom: 10px;
}

footer div#img-text div#footer-img img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    top: 20px;
    left: 40px;
}

#blur{
    position: fixed;
    top: 50px;
    bottom: 50px;
    right: 50px;
    left: 50px;
    background-color: #000000a7;
    color: white;
    overflow: scroll;
    scrollbar-color: #000000a7;
    
}

#cross{
    z-index: 10;
    position: fixed;
    top: 53px;
    right: 70px;
    font-size: 40px;
    padding: 4px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
}

#cross:hover{
    background-color: rgb(241, 135, 135);
    color: white;
}

div#popup div#blur img{
    margin: 10px;
    width: 100px;
    margin-bottom: 15px;
}

#cart-container{
    margin: 20px;
    background-color: #ffffff48;
    display: block;
    flex-direction: row;
}

#cart-container span{
    margin: 10px;
    font-size: 20px;
}

#final-price{
    background-color: #6196FF;
    margin: 300px;
    margin-top: 50px;
    padding: 30px;
    border-radius: 30px;
    font-size: 30px;
    position: absolute;
    font-weight: 900;    
}

#order-now{
    cursor: progress;
    margin: 300px;
    padding: 30px;
    font-size: 30px;
    position: absolute;
    border-radius: 30px;
    margin-top: 50px;
    background-color: green;
    margin-left: 800px;
    font-weight: 900;
    text-decoration: none;
}

#order-now:hover{
    background-color: rgb(3, 69, 3);
}

@media only screen and (max-width: 1200px){
    section#background{
        background-size: cover;
    }
}

/* @media only screen and (max-width: 600px){
    section#background{
        width: auto;
    }
} */

@media only screen and (max-width: 500px){
    section#books, section#games, section#gifts{
        display: block;
    }
    #header-img1{
        margin-left: 20px;
    }
    #header-text-img{
        margin-right: 20px;
    }
    section#background{

        height: 300px;
    }

    div#background-text{
        font-size: 45px;
        margin-left: -35px;
    }

    section#books div img.book{
        height: 400px;
        padding: 30px;
    }

    section#games div img.game, section#gifts div img.gift{
        height: 300px;
        padding: 30px;
    }

    section#books, section#games, section#gifts, #title1, #title2, #title3{
        margin-left: 40px;
    }

    .add-cart{
        position: relative;
        right: 10px;
    }
    
    div#img-text, div#footer-text{
        display: block;
    }

    div#img-text{
        margin-left: 1px;
    }
    div#img-text span{
        margin-left: 20px;
    }

    footer div#img-text div#footer-img img{
        border-radius: 50%;
        height: 200px;
        width: 230px;
        position: relative;
        top: 20px;
    }
    div#footer-text{
        color: white;
        bottom: 100px;
        left: 1px;
        font-size: 15px;
        margin-right: 3px;
    }
    div#footer-text span{
        font-size: 20px;
    }
}